body{
	background-color: #F7F7F6;
}
.login{
	padding-top: 65px;
}
.center{
	float: none;
	margin-left: 34%;
	margin-right: 34%;
}
#username,#password,#age,#tags,#sex,#description,#interestedIn,#email{
	margin: 10px;
}
